@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  font-family: "poppins", sans-serif;
}
body {
  background-color: #282c34;
}
#bg-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.navver li:hover a {
  border-bottom: 3px solid #ee4002;
}
.box-login {
  width: 300px;
  min-height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
}
.box-login h2 {
  text-align: center;
  margin-bottom: 15px;
}
.input-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px 0;
}
.navbar .nav-link {
  font-size: 20px;
}
.navbar.scrolled {
  background-color: #222222;
  transition: ease-in-out 1s;
}
.header {
  background-image: url("../img/jumb.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
}
.card-submit {
  margin: 30px 0 0 0;
}
.description {
  position: absolute;
  opacity: 50%;
  top: 45%;
  margin: auto;
  background: #ffff;
  padding: 2em;
}
.description h1 {
  color: #000;
}
.description button {
  border: 1px solid #ee4002;
  background: #ee4002;
  color: #fff;
}
.about {
  margin: 4em 0;
  padding: 1rem;
  position: relative;
}
.about .about-me {
  color: #ee4002;
  margin: 1.5em;
  margin-top: 3.5em;
}
.about img {
  width: 430px;
  margin-top: 15px;
}
.about span {
  display: block;
  color: #ee4002;
  left: 115px;
}
.about .desc {
  padding: 2em;
  border-left: 5px solid #ee4002;
}
.about .desc h3 {
  color: #ee4002;
}
.about .desc p {
  line-height: 2;
  color: #fff;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  justify-content: center;
}
.btn-wrapper {
  text-align: center;
}
.btn:hover {
  opacity: 1;
}
.btn-modal {
  width: 100%;
  border: none;
  color: #fff;
  background-color: #222126;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #ee4002;
  transition: ease-out 0.3s;
  font-size: 1.5rem;
  outline: none;
  margin: 1rem 0;
}
.btn-modal:hover {
  background-color: #ee4002;
}
.btn-modal-modal {
  border: none;
  color: #fff;
  background-color: #222126;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #ee4002;
  transition: ease-out 0.3s;
  font-size: 24px;
  outline: none;
  margin: 1rem 0;
}
.btn-modal-modal:hover {
  background-color: #ee4002;
}
.mopdal-body {
  text-align: center;
}
.modal-body img {
  position: relative;
  text-align: center;
}
.modal-body h3 {
  font-size: 24px;
}
.whatsapp {
  background-color: #51a438;
  margin: 10px 0 20px 0;
}
.instagram {
  background-color: #dd2a7b;
  margin: 10px 0 20px 15px;
}
.fa {
  margin-right: 5px;
}
.product {
  background-color: #f6f7f6;
  margin-top: 1rem;
  min-height: 120vh;
}
.product .our-product {
  color: #ee4002;
  padding-top: 3.5em;
}
.product img {
  background-color: #fff;
}
.produk .row {
  background-color: red;
}
.contact {
  min-height: 775px;
  padding: 15px;
}
.contact .cont {
  color: #ee4002;
  margin-top: 3.5em;
}
.contact .form-submit {
  margin-bottom: 3em;
}
.contact .list-group {
  margin-top: 2em;
}
.contact .form-label {
  color: #fff;
  margin-top: 10px;
}
.contact .map-wrapper {
  max-width: 450px;
  max-height: 200px;
  margin-top: 2em;
}
.contact .card-body {
  background-color: #222126;
}
.maps {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}
.footer-dark {
  padding: 30px 0;
  background-color: #222222;
}
.footer-dark .copyright {
  text-align: center;
  padding-top: 10px;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
}
.container {
  width: 100%;
}
.card,
.card-header {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-bottom: 20px;
}
.card-header {
  z-index: 2;
}
.card {
  width: 600px;
}
.btn-link {
  width: 100%;
  height: 34px;
  color: #000 !important;
  font-weight: bold !important;
  text-align: left !important;
  text-decoration: none !important;
  outline: none;
}

.btn-link p {
  color: #fff;
  font-size: 21px;
}
.card-body {
  background: #e8eeff;
  border-radius: 0 0 10px 10px;
}
.btn-link:after {
  content: "\2212";
  width: 32px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  right: 11px;
  top: 11px;
  position: absolute;
  background: #e8eeff;
}
.btn-link.collapsed:after {
  content: "\002B";
}
.btn-link:before {
  content: "";
  height: 25px;
  width: 25px;
  position: absolute;
  background: #282c34;
  z-index: 1;
  transform: rotate(45deg);
  left: 18px;
  top: 46px;
}
.btn-link:focus {
  outline: none;
  box-shadow: none;
}
@media (max-width: 670px) {
  .navbar-toggler {
    margin-right: 20px;
  }
  .modal img {
    width: 100%;
  }
  .btn-modal {
    font-size: 16px;
    width: 100%;
  }
  .btn-modal-modal {
    font-size: 18px;
  }
  .navbar img {
    width: 130px;
  }
  .about {
    width: 100%;
  }
  .about img {
    width: 100%;
  }
  .about .desc {
    width: 100%;
  }
  .card {
    width: 110%;
    text-align: justify;
  }
  .card-header {
    z-index: 2;
    margin-bottom: 37px;
  }
  .btn-link {
    width: 100%;
  }
  .btn-link p {
    color: #fff;
    font-size: 16px;
  }
  .btn-link:after {
    top: 12px;
    left: 250px;
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
  .btn-link:before {
    top: 58px;
    z-index: -1;
  }
  .container {
    width: 100%;
  }
  .container .col-md-6 {
    padding: 15px;
  }
}
