 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-1 .u-shape-1 {
  width: 801px;
  height: 552px;
  margin: 204px auto 0 118px;
}

.u-section-1 .u-image-1 {
  width: 920px;
  height: 669px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -652px 61px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 377px;
  width: 625px;
  height: auto;
  margin: -196px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px 35px 50px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-family: "Advent Pro";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 23px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-1 .u-shape-1 {
    width: 704px;
    height: 497px;
    margin-top: 203px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 840px;
    height: 643px;
    margin-right: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -156px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-1 .u-shape-1 {
    width: 630px;
    height: 418px;
    margin-top: 123px;
    margin-left: 8px;
  }

  .u-section-1 .u-image-1 {
    width: 638px;
    height: 519px;
    margin-top: -518px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 419px;
    margin-top: -131px;
    margin-bottom: 46px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-shape-1 {
    width: 494px;
    height: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 518px;
    height: 438px;
    margin-top: -418px;
  }

  .u-section-1 .u-group-1 {
    min-height: 455px;
    width: 433px;
    margin-top: -103px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-shape-1 {
    height: 227px;
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 318px;
    height: 275px;
    margin-top: -264px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -22px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 30px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 731px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 535px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 70px auto 0;
}

.u-section-2 .u-list-1 {
  grid-auto-rows: 100%;
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 444px;
  grid-gap: 22px 22px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px 31px;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  margin: 0 1px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 34px 1px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px 31px;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  margin: 0 1px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 34px 1px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 29px 31px;
}

.u-section-2 .u-text-6 {
  font-family: Poppins;
  margin: 0 1px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 34px 1px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 29px 31px;
}

.u-section-2 .u-text-8 {
  font-family: Poppins;
  margin: 0 1px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 34px 1px 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 29px 31px;
}

.u-section-2 .u-text-10 {
  font-family: Poppins;
  margin: 0 1px;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  margin: 34px 1px 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 29px 31px;
}

.u-section-2 .u-text-12 {
  font-family: Poppins;
  margin: 0 1px;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  margin: 34px 1px 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 29px 31px;
}

.u-section-2 .u-text-14 {
  font-family: Poppins;
  margin: 0 1px;
}

.u-section-2 .u-text-15 {
  font-size: 1.5rem;
  margin: 34px 1px 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 29px 31px;
}

.u-section-2 .u-text-16 {
  font-family: Poppins;
  margin: 0 1px;
}

.u-section-2 .u-text-17 {
  font-size: 1.5rem;
  margin: 34px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
    min-height: 366px;
  }

  .u-section-2 .u-text-2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
    font-weight: bold;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-top: 126px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 1121px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 158px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
  min-height: 870px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: Poppins;
  font-weight: 700;
  margin: 125px auto 0;
}

.u-section-3 .u-shape-1 {
  height: 219px;
  margin-top: 208px;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -328px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 30px) calc(33.3333% - 30px) calc(33.3333% - 30px);
  min-height: 436px;
  grid-gap: 45px 45px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: normal;
  font-size: 1.9375rem;
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.9375rem;
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: normal;
  font-size: 1.9375rem;
  font-weight: 700;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 475px;
  }

  .u-section-3 .u-image-1 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 214px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 22.5px) calc(50% - 22.5px);
  }

  .u-section-3 .u-image-1 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 253px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 439px;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 439px;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 439px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 270px;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 270px;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 270px;
    margin-left: initial;
  }
}